<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartfitness.daniellee.fittracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!-- permission to use vibrating after sensor calibration -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".FitTracker"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- TODO: change key to release key (make it in API Console) -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBFo-GRwhDhwmgCBs7xB6Ww2w-uGJr87Go" />

        <activity
            android:name=".RunActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <service
            android:name=".SleepService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".SleepActivity"
            android:label="@string/title_activity_sleep"
            android:screenOrientation="portrait"
            android:theme="@style/SleepTheme"/>
        <activity
            android:name=".SleepDataActivity"
            android:label="@string/title_activity_sleep_data"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".RunDataActivity"
            android:label="@string/title_activity_run_data"/>
        <activity
            android:name=".CalibrateActivity"
            android:label="@string/title_activity_calibrate"/>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme"
            android:parentActivityName=".MainActivity"/>

        <service
            android:name=".CalibrationService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".StepsHistoryActivity"
            android:label="@string/title_activity_steps_history"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartfitness.daniellee.fittracker.MainActivity" />
        </activity>
        <activity
            android:name=".SleepHistoryActivity"
            android:label="@string/title_activity_sleep_history"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.smartfitness.daniellee.fittracker.MainActivity" />
        </activity>
    </application>

</manifest>
